<div class="grid grid-rows-2 gap-4 w-full h-full  pt-2 pr-2 pl-2 ">
  <div class="bg-white h-full md:flex md:justify-center items-center md:px-2">
    <div class="w-full bg-white shadow-2xl p-4 lg:w-full ">
       <form #reportForm="ngForm">
         <div class="grid grid-cols-1 gap-2 md:grid-cols-3 md:gap-2 ">
             <div class=" w-full flex justify-around">
              <div class="w-[40px] h-[40px] bg-cyan-500 text-white rounded-tl-xl rounded-bl-xl flex justify-center  items-center text-xl">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
              </div>
              <select class="w-full h-[40px] text-gray-700 text-sm font-bold border-2 border-cyan-500" (change)="changeValue($event)">
                <option disabled selected value="">Votre Région</option>
                <option value="Alaotra-Mangoro">Alaotra Mangoro</option>
                <option value="Amoron'i Mania">Amoron'i Mania</option>
                <option value="Analanjirofo">Analanjirofo</option>
                <option value="Androy">Androy</option>
                <option value="Atsimo Andrefana">Atsimo Andrefana</option>
                <option value="Atsimo Atsinanana">Atsimo Atsinanana</option>
                <option value="Atsinanana">Atsinanana</option>
                <option value="Betsiboka">Betsiboka</option>
                <option value="Boeny">Boeny</option>
                <option value="Bongolava">Bongolava</option>
                <option value="Diana">Diana</option>
                <option value="Fitovinany">Fitovinany</option>
                <option value="Haute Matsiatra">Haute Matsiatra</option>
                <option value="Ihorombe">Ihorombe</option>
                <option value="Itasy">Itasy</option>
                <option value="Melaky">Melaky</option>
                <option value="Menabe">Menabe</option>
                <option value="Sava">Sava</option>
                <option value="Sofia">Sofia</option>
                <option value="Vakinakaratra">Vakinakaratra</option>
                <option value="Vatovavy">Vatovavy</option>
              </select>
            </div>

             <div class="bg-white flex justify-around ">
              <div class="w-[40px] h-[40px] bg-cyan-500 text-white rounded-tl-xl rounded-bl-xl flex justify-center  items-center text-xl">
                <i class="fa fa-location-arrow" aria-hidden="true"></i>
              </div>
              <select class="w-full h-[40px] text-gray-700 text-sm font-bold border-2 border-cyan-500 " (change)="cirfinValue($event)" >
                <option disabled selected value="">Choisir si CIRFIN</option>
                <option value="Moramanga">Moramanga</option>
                <option value="Marolambo">Marolambo</option>
                <option value="Nosy-Be">Nosy Be</option>
                <option value="Sainte-Marie">Sainte Marie</option>
              </select>
             </div>


             <div class="bg-white flex justify-around">
              <div class="w-[40px] h-[40px] bg-cyan-500 text-white rounded-tl-xl rounded-bl-xl flex justify-center  items-center text-xl">
                <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
              </div>
              <select class="w-full h-[40px] text-gray-700 text-sm font-bold border-2 border-cyan-500 " (change)="monthValue($event)">
                <option disabled selected value="">Choisir le Mois</option>
                <option value="Janvier">Janvier</option>
                <option value="Février">Février</option>
                <option value="Mars">Mars</option>
                <option value="Avril">Avril</option>
                <option value="Mai">Mai</option>
                <option value="Juin">Juin</option>
                <option value="Juillet">Juillet</option>
                <option value="Août">Août</option>
                <option value="Septembr">Septembre</option>
                <option value="Octobre">Octobre</option>
                <option value="Novembre">Novembre</option>
                <option value="Décembre">Décembre</option>
              </select>
             </div>
          </div>
          <div class="sm:grid sm:grid-cols-1 mt-8 sm:gap-2 md:grid-rows-2 md:grid-cols-2 md:gap-2 ">
                 <div>
                   <label for="produit" class="text-gray-700 text-sm font-bold ">Votre produit</label><br>
                   <input type="text" name="produit" class="shadow appearance-none border w-full rounded h-8 px-2 " required [(ngModel)]="addReport.produit">
                </div>
                <div>
                  <label for="realisation" class="text-gray-700 text-sm font-bold ">Votre réalisation</label>
                  <input type="text" name="realisation" class="shadow appearance-none border w-full h-8 rounded px-2" required [(ngModel)]="addReport.realisation">
                </div>
                <div>
                  <label for="realisation" class="text-gray-700 text-sm font-bold ">Votre valeur cible</label>
                  <input type="text" name="valeurCible" class="shadow appearance-none border w-full h-8 rounded px-2 " required [(ngModel)]="addReport.valeurCible">
                </div>
                <div>
                  <label for="realisation" class="text-gray-700 text-sm font-bold ">Votre  pourcentage de réalistation</label>
                  <input type="text" name="pourcentage" class="shadow appearance-none border w-full h-8 rounded px-2 " required  [(ngModel)]="addReport.pourcentageRealisation" >
                </div>
             </div>
             <button class="w-36 h-10  float-right bg-green-600 border rounded-r-lg rounded-l-lg text-gray-700 text-sm font-bold md:mt-2" (click)="sendReport(addReport,reportForm)">Ajouter aux listes</button>
        </form>
       </div>
  </div>

  <div class="bg-white md:h-full">
   <table class="table-auto w-full h-auto bg-white shadow-xl p-2 sm:grid grid-cols-1">
      <tr class=" md:grid grid-cols-5 md:h-8">
        <td class="border border-gray-300  items-center  text-gray-700 text-sm font-bold ">PRODUIT</td>
        <td class="border border-gray-300  items-center text-gray-700 text-sm font-bold ">REALISATION</td>
        <td class="border border-gray-300  items-center text-gray-700 text-sm font-bold ">VALEUR CIBLE</td>
        <td class="border border-gray-300  items-center text-gray-700 text-sm font-bold ">POURCENTAGE DE REALISATION</td>
        <td class="border border-gray-300  items-center text-gray-700 text-sm font-bold ">MODIFICATION</td>
      </tr>
      <tr class=" md:grid grid-cols-5 md:h-8" *ngFor="let item of TableauReport">
        <td class="border border-gray-300 items-center  text-gray-700 text-sm font-bold ">{{item.produit}}</td>
        <td class="border border-gray-300 items-center text-gray-700 text-sm font-bold ">{{item.realisation}}</td>
        <td class="border border-gray-300 items-center text-gray-700 text-sm font-bold ">{{item.valeurCible}}</td>
        <td class="border border-gray-300 items-center text-gray-700 text-sm font-bold ">{{item.pourcentageRealisation}}</td>
        <td class="border border-gray-300 items-center text-gray-700 text-sm font-bold ">modification</td>

      </tr>




    </table>
   </div>
   <button class="w-36 h-10 bg-cyan-500 border rounded-r-lg rounded-l-lg text-gray-700 text-sm font-bold">Génerer Pdf</button>

</div>

