  <ul class="grid grid-cols-2 sm:grid-cols-3 sm:gap-6 md:grid-cols-3 gap-6 p-2  ">
             <a>
              <li class="card card-1 bg-white rounded-[20px] shadow-md animate__animated animate__zoomIn">
                <div class="h-48  flex flex-col justify-center items-center">

                     <div class="card__icon flex items-center "><i class="fa fa-wrench " aria-hidden="true"></i></div>
                     <h2 class="card__title text-white ">Logistiques</h2>

                </div>
             </li>
             </a>

               <li class="card card-2 bg-white rounded-[20px] shadow-md animate__animated animate__zoomIn">
                <div class="h-48  flex flex-col justify-center items-center">

                    <div class="card__icon flex items-center "><i class="fa fa-user-plus " aria-hidden="true"></i></div>
                    <h2 class="card__title text-white ">Ressources Humaines</h2>

               </div>
                </li>

               <li class="card card-3 bg-white rounded-[20px] shadow-md animate__animated animate__zoomIn">
                <div class="h-48  flex flex-col justify-center items-center">

                    <div class="card__icon flex items-center "><i class="fa fa-home" aria-hidden="true"></i></div>
                    <h2 class="card__title text-white ">Infrastructures [Bâtiment Administratif ; Contrat de Bail] ; si Contrat de Bail [Paiement loyer : (SAF, Crédit SRB, CIRFIN)]</h2>

               </div>
                </li>

               <li class="card card-1 bg-white rounded-[20px] shadow-md animate__animated animate__zoomIn">
                <div class="h-48  flex flex-col justify-center items-center">

                    <div class="card__icon flex items-center "><i class="fa fa-plus-square " aria-hidden="true"></i></div>
                    <h2 class="card__title text-white ">Remboursement des Frais Médicaux (RFM)</h2>

               </div>
                </li>

               <li class="card card-2 bg-white rounded-[20px] shadow-md animate__animated animate__zoomIn">
                <div class="h-48  flex flex-col justify-center items-center">

                    <div class="card__icon flex items-center "><i class="fa fa-id-card-o " aria-hidden="true"></i></div>
                    <h2 class="card__title text-white ">Etablissements Publics Nationaux</h2>

               </div>
                </li>

               <li class="card card-3 bg-white rounded-[20px] shadow-md animate__animated animate__zoomIn">
                <div class="h-48  flex flex-col justify-center items-center">

                    <div class="card__icon flex items-center "><i class="fa fa-money " aria-hidden="true"></i></div>
                    <h2 class="card__title text-white ">Liste des arriérées</h2>

               </div>
                </li>

               <li class="card card-1 bg-white rounded-[20px] shadow-md animate__animated animate__zoomIn">
                <div class="h-48 flex flex-col justify-center items-center">

                    <div class="card__icon flex items-center "><i class="fa fa-credit-card" aria-hidden="true"></i></div>
                    <h2 class="card__title text-white ">Acteurs Budgétaire</h2>

               </div>
                </li>

               <li class="card card-2 bg-white rounded-[20px] shadow-md animate__animated animate__zoomIn">
                <div class="h-48 flex flex-col justify-center items-center">

                    <div class="card__icon flex items-center "><i class="fa fa-file-text " aria-hidden="true"></i></div>
                    <h2 class="card__title text-white ">Bordereau de Crédit Sans Emploie</h2>

               </div>
                </li>

               <li class="card card-3 bg-white rounded-[20px] shadow-md animate__animated animate__zoomIn">
                <div class="h-48  flex flex-col justify-center items-center">
                    <div class="card__icon flex items-center "><i class="fa fa-calendar" aria-hidden="true"></i></div>
                    <h2 class="card__title text-white ">Calendrier de   réunion</h2>

               </div>
                </li>
        </ul>

          <!-- <router-outlet></router-outlet> -->
