<!--<div class="grid grid-cols-1 md:grid-cols-4 grid-rows-1 ">-->

    <!--<div class="grid grid-rows-5 bg-white shadow-xl md:h-full">

          <div class="title mx-auto items-center ">
            <h1 class=" animate__animated animate__zoomOut animate__infinite	infinite animate__delay-0.1s	0.5s animate__slow	1s">DGFAG</h1>
          </div>

          <div class="report-activity w-full h-[80px] shadow-xl md:w-[85%] md:h-[50%]  bg-white rounded-r-full flex flex-row items-center animate__animated animate__slideInLeft animate__repeat-2 2 animate__delay-0.1s	0.5s animate__slow	1s">
                <img src="../../assets/photo1.png" class="md:w-[60px] h-[60px]">
                <h4 class="ml-3">Rapports d'Activités</h4>

          </div>

          <div class="report-CRGP w-full h-[80px] shadow-xl md:w-[85%] md:h-[50%] bg-white rounded-r-full flex flex-row items-center animate__animated animate__slideInLeft animate__repeat-2 2 animate__delay-0.1s	0.5s animate__slow	1s">
            <img src="../../assets/photo2.png" class="md:w-[60px] h-[60px]">
            <h4 class="ml-3">Compte Rendu CRGB</h4>
         </div>

         <div class="report-formation w-full h-[80px] shadow-xl md:w-[85%] md:h-[50%] bg-white rounded-r-full flex flex-row items-center  animate__animated animate__slideInLeft animate__repeat-2 2 animate__delay-0.1s	0.5s animate__slow	1s">
            <img src="../../assets/photo3.png" class="md:w-[60px] h-[60px]">
            <h4 class="ml-3">Rapports de Formation</h4>
         </div>

         <div class="update-SRB w-full h-[80px] shadow-xl md:w-[85%] md:h-[50%] bg-white rounded-r-full flex flex-row items-center animate__animated animate__slideInLeft animate__repeat-2 2 animate__delay-0.1s	0.5s animate__slow	1s">
            <img src="../../assets/photo4.png" class="md:w-[60px] h-[60px]">
            <h4 class="ml-3">Mise à Jour SRB</h4>
        </div>
    </div>-->

    <!--<div class="col-span-3  md:h-full p-4"> -->
          <ul class="grid grid-cols-2 sm:grid-cols-3 sm:gap-6 md:grid-cols-3 gap-6 p-2  ">
               <li class="card card-1 bg-white rounded-[20px] shadow-md animate__animated animate__zoomIn">
                   <div class="h-48  flex flex-col justify-center items-center">

                        <div class="card__icon flex items-center "><i class="fa fa-wrench " aria-hidden="true"></i></div>
                        <h2 class="card__title text-white ">Logistiques</h2>

                   </div>
                </li>

               <li class="card card-2 bg-white rounded-[20px] shadow-md animate__animated animate__zoomIn">
                <div class="h-48  flex flex-col justify-center items-center">

                    <div class="card__icon flex items-center "><i class="fa fa-user-plus " aria-hidden="true"></i></div>
                    <h2 class="card__title text-white ">Ressources Humaines</h2>

               </div>
                </li>

               <li class="card card-3 bg-white rounded-[20px] shadow-md animate__animated animate__zoomIn">
                <div class="h-48  flex flex-col justify-center items-center">

                    <div class="card__icon flex items-center "><i class="fa fa-home" aria-hidden="true"></i></div>
                    <h2 class="card__title text-white ">Infrastructures [Bâtiment Administratif ; Contrat de Bail] ; si Contrat de Bail [Paiement loyer : (SAF, Crédit SRB, CIRFIN)]</h2>

               </div>
                </li>

               <li class="card card-1 bg-white rounded-[20px] shadow-md animate__animated animate__zoomIn">
                <div class="h-48  flex flex-col justify-center items-center">

                    <div class="card__icon flex items-center "><i class="fa fa-plus-square " aria-hidden="true"></i></div>
                    <h2 class="card__title text-white ">Remboursement des Frais Médicaux (RFM)</h2>

               </div>
                </li>

               <li class="card card-2 bg-white rounded-[20px] shadow-md animate__animated animate__zoomIn">
                <div class="h-48  flex flex-col justify-center items-center">

                    <div class="card__icon flex items-center "><i class="fa fa-id-card-o " aria-hidden="true"></i></div>
                    <h2 class="card__title text-white ">Etablissements Publics Nationaux</h2>

               </div>
                </li>

               <li class="card card-3 bg-white rounded-[20px] shadow-md animate__animated animate__zoomIn">
                <div class="h-48  flex flex-col justify-center items-center">

                    <div class="card__icon flex items-center "><i class="fa fa-money " aria-hidden="true"></i></div>
                    <h2 class="card__title text-white ">Liste des arriérées</h2>

               </div>
                </li>

               <li class="card card-1 bg-white rounded-[20px] shadow-md animate__animated animate__zoomIn">
                <div class="h-48 flex flex-col justify-center items-center">

                    <div class="card__icon flex items-center "><i class="fa fa-credit-card" aria-hidden="true"></i></div>
                    <h2 class="card__title text-white ">Acteurs Budgétaire</h2>

               </div>
                </li>

               <li class="card card-2 bg-white rounded-[20px] shadow-md animate__animated animate__zoomIn">
                <div class="h-48 flex flex-col justify-center items-center">

                    <div class="card__icon flex items-center "><i class="fa fa-file-text " aria-hidden="true"></i></div>
                    <h2 class="card__title text-white ">Bordereau de Crédit Sans Emploie</h2>

               </div>
                </li>

               <li class="card card-3 bg-white rounded-[20px] shadow-md animate__animated animate__zoomIn">
                <div class="h-48  flex flex-col justify-center items-center">
                    <div class="card__icon flex items-center "><i class="fa fa-calendar" aria-hidden="true"></i></div>
                    <h2 class="card__title text-white ">Calendrier de   réunion</h2>

               </div>
                </li>



          </ul>

   <!--</div>-->
<!--</div>-->
