h1 {
  font-size: 24px;
  font-style: italic;

}
h2
{
  font-size:20px;

}
h2 {
  font-family: "Gill Sans", sans-serif;
}

i {
  font-size: 20px;
}

i:active {
  transform: translateY(2px);
}
input{
  outline: none;
}
textarea{
  outline: none;
  resize: none;
}
button:active {
  transform: translateY(2px);
}
