<ul class="grid grid-cols-2 sm:grid-cols-3 sm:gap-6 md: grid-rows-3 md:grid-cols-2 gap-6 p-2  ">
  <a [routerLink]="['/admin-fait']" routerLinkActive="router-link-active">
    <li class="card card-1 bg-white rounded-[20px] shadow-md animate__animated animate__zoomIn">
      <div class="h-48  flex flex-col justify-center items-center">

        <div class="card__icon flex items-center "><i class="fa fa-wrench " aria-hidden="true"></i></div>
        <h2 class="card__title text-white ">Faits Marquants / Observations Particulières</h2>

      </div>
    </li>
  </a>

  <a [routerLink]="['/admin-report-mensual']" routerLinkActive="router-link-active">
    <li class="card card-2 bg-white rounded-[20px] shadow-md animate__animated animate__zoomIn">
      <div class="h-48  flex flex-col justify-center items-center">

        <div class="card__icon flex items-center "><i class="fa fa-user-plus " aria-hidden="true"></i></div>
        <h2 class="card__title text-white ">Réalisations du Bureau des Affaires Administratives et Financières</h2>

      </div>
    </li>
  </a>

 <a [routerLink]="['/admin-patrimoine']" routerLinkActive="router-link-active" ><li class="card card-3 bg-white rounded-[20px] shadow-md animate__animated animate__zoomIn">
    <div class="h-48  flex flex-col justify-center items-center">

      <div class="card__icon flex items-center "><i class="fa fa-home" aria-hidden="true"></i></div>
      <h2 class="card__title text-white ">Réalisations de la Division Patrimoine de l'Etat</h2>

    </div>
  </li></a>

  <li class="card card-1 bg-white rounded-[20px] shadow-md animate__animated animate__zoomIn">
    <div class="h-48  flex flex-col justify-center items-center">

      <div class="card__icon flex items-center "><i class="fa fa-plus-square " aria-hidden="true"></i></div>
      <h2 class="card__title text-white ">Réalisations de la Division Exécution Budgétaire et Remboursement des Frais
        Médicaux</h2>

    </div>
  </li>

  <li class="card card-2 bg-white rounded-[20px] shadow-md animate__animated animate__zoomIn">
    <div class="h-48  flex flex-col justify-center items-center">

      <div class="card__icon flex items-center "><i class="fa fa-id-card-o " aria-hidden="true"></i></div>
      <h2 class="card__title text-white ">Réalisations du Centre Informatique Régional</h2>

    </div>
  </li>

  <li class="card card-3 bg-white rounded-[20px] shadow-md animate__animated animate__zoomIn">
    <div class="h-48  flex flex-col justify-center items-center">

      <div class="card__icon flex items-center "><i class="fa fa-money " aria-hidden="true"></i></div>
      <h2 class="card__title text-white ">Réalisations de la Division Chargée des Finances Locales et Tutelle des EPN
      </h2>

    </div>
  </li>

</ul>

<!-- <router-outlet></router-outlet> -->

